
:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-serif-1: 'Playfair Display', serif;
  --heading-font-serif-2: 'Lora', serif;

  /* colors */
  --dark-primary-color: #0288D1;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4;
  --accent-color: #FF9800;
  --text-icons-white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;

  --red: #E85454;
  --yellow-lighter: #FCECA4;
  --blue: #90C3D4;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --almost-black: #282828;

  /* sizes */
  --space: 1rem;

  /* font-weights */
  --light: 300;
  --medium: 600;
  --heavy: 900;

  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;

  /* box-shadows */
  --smooth-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  background: var(--almost-white);
}

h1 {
  margin-top: calc(var(--space)*4);
  font-family: var(--heading-font-serif-2);
  font-size: 8vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--text-icons-white);
}

h2 {
  margin-top: calc(var(--space)*10);
  font-family: var(--heading-font-serif-2);
  font-size: 2vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

h1::first-letter,
h2::first-letter {
  text-transform: uppercase;
}

nav {
  width: 100%;
  padding: 0.5rem 0 0.5rem;
  position: fixed;
  z-index: 10000;
  background: transparent;
  transition: var(--smooth);
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--almost-white);
  list-style-type: none;
  transition: var(--smooth);
}

nav ul li {
  flex: 1 1 auto; /* grow shrink basis */
  padding: 1.5rem 0 1.5rem 0;
  background: transparent;
}

nav ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
}

nav ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

nav ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: var(--almost-white);
  transition: var(--smooth);
}

nav li a:hover {
  color: var(--dark-primary-color);
}

nav ul li a img {
  width: 1.5rem;
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
}

header {
  width: 100%;
  height: 68rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: no-repeat center/100% url("../Pictures/indexbanner.jpg");
  filter: contrast(1.2);
  background-size: cover;
}

header > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

header > div p {
  margin-top: calc(var(--space)*2);
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--text-icons-white);
}

header > div img {
  width: 4vw;
  margin-top: calc(var(--space)*6);
}

main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(12, 1fr);
  grid-gap: 1rem;
  max-width: 75vw;
  height: auto;
  margin: 1rem auto;
  padding-top: calc(var(--space)*25);
  font-size: 6vw;
}

footer {
  padding: calc(var(--space)*6);
  margin-top: 30rem;
  background: var(--gray-lighter);
}

footer p {
  padding: calc(var(--space)*0);
  font-family: var(--main-font-family);
  font-size: 0.7vw;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--secondary-text);
}

footer img {
  width: 2.5rem;
  margin-bottom: calc(var(--space)*2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.intro {
  padding: 2rem;
  text-align: center;
}

/* W3Schools:
https://www.w3schools.com/howto/howto_css_tooltip.asp
*/
/* Tooltip container */

/* Tooltip text */

/* Show the tooltip text when you mouse over the tooltip container */

/*--------------------------------------------------*/



/*--------------------------------------------------*/

@media (min-width: 70rem) {
  .group {
    display: none;
  }
}



@media (max-width: 70rem) {
.intro {
  font-size: 3vw;
}

nav {
  display: none;
}

header {
  height: 50rem;
}

footer p {
  font-size: 2vw;
}

footer {
  margin-top: 20vw;
  padding: 4rem;
}

/* hamburger start */
.group {
  width: 100%;
  margin-left: 0;
  position: fixed;
  z-index: 10000;
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.navheader {
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--main-font-family);
  font-size: 4vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.navigation {
  max-width: none;
  background: var(--almost-white);
  margin-left: -1.5rem;
  padding: 0;
}

.navigation li {
  float: left;
  list-style-type: none;
  font-family: var(--main-font-family);
  font-size: 5vw;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  transition: var(--smooth);
}

.navigation li a {
  display: block;
  width: 100%;
  color: var(--primary-text);
  padding: 1rem;
  transition: var(--smooth);
}

.navigation li a:hover {
  background: var(--gray-lighter);
}

.slide-trigger {
  width: 100%;
  display: none; /* need this */
  cursor: pointer;
}

.slide-trigger { display: block; }
.navigation { display: none; }
.navigation { margin: 0 15px; }
.navigation li { float: none; }
.navigation li a { border-bottom: 1px solid #fff; }
/* hamburger end */


}




/*--------------------------------------------------*/

@media (max-width: 50rem) {

.intro {
  font-size: 3vw;
}

nav {
  display: none;
}

header {
  height: 50rem;
}

footer p {
  font-size: 3vw;
}

footer {
  margin-top: 20vw;
  padding: 4rem;
}

h2 {
  font-size:  6vw;
}

/* hamburger start */
.group {
  width: 100%;
  margin-left: 0;
  position: fixed;
  z-index: 10000;
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.navheader {
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--main-font-family);
  font-size: 4vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.navigation {
  max-width: none;
  background: var(--almost-white);
  margin-left: -1.5rem;
  padding: 0;
}

.navigation li {
  float: left;
  list-style-type: none;
  font-family: var(--main-font-family);
  font-size: 5vw;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  transition: var(--smooth);
}

.navigation li a {
  display: block;
  width: 100%;
  color: var(--primary-text);
  padding: 1rem;
  transition: var(--smooth);
}

.navigation li a:hover {
  background: var(--gray-lighter);
}

.slide-trigger {
  width: 100%;
  display: none; /* need this */
  cursor: pointer;
}

.slide-trigger { display: block; }
.navigation { display: none; }
.navigation { margin: 0 0; }
.navigation li { float: none; }
.navigation li a { border-bottom: 1px solid #fff; }
/* hamburger end */


}
